body {
  background: #eee;
}

.character-list {
  margin: 25px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 15px;
}
.character-list li {
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 15px;
  background: #fff;
  box-shadow: 0 0 10px #e6e6e6;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.character-list img {
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
}